body {
	color: white;
	background-image:url(Pizza_BG.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: 100%;

}

#entete {
	position: absolute; top;
	height: 42px;
	width: 98%;
	background-color: #ff4c00;
	border-radius: 10px;
}

#info {
	color:white;
	float: right;
	font-size: 22px;
	margin-right: 2px;
	margin-top: 10px;
}

#home {
	color: white;
	float: left;
	font-size: 22px;
	margin-left: 2px;
	margin-top: 10px;
	border-radius: 10px;

}

h1 {
	text-align: center;
	font-size: 80px;
	text-decoration: underline;
}

.bgcorp {
	color: red;
	font-weight: bold;
	width: 500px;	
	background-color: rgba(255, 140, 0, 0.8);
	display: inline-block;
	font: 2px #000000;
	border-radius: 10px;
}

.bande_commande {
	color: red;
	font-weight: bold;
	width: 500px;	
	background-color: rgba(255, 140, 0, 0.8);
	display: inline-block;
	font: 2px #000000;
	float: right;
	text-align: center; 
	border-radius: 10px;
}


footer {
	position: fixed;
	bottom: 20px;
	margin-top: 100px;
    color: orange;
	font-weight: bold;
	width: 98%;
}

a {
	text-decoration: none;
} 
a:link {color: white;}
a:visited {color: white;}
a:hover {color: black;}
a:active {color: blue;}


